DATABASE_URL="postgresql://harshwardhan.patil22:3inUL2XpDYCP@ep-broad-heart-a518q4d5-pooler.us-east-2.aws.neon.tech/abd?sslmode=require&pgbouncer=true"
#DATABASE_URL="postgresql://postgres:kabir2014@localhost:5432/abd"
# openssl rand -base64 32
JWT_SECRET="qvQmplUvtWPIu7dxsq4+BLdCsrntPAQLym0bErzinwU="

# https://ai.google.dev/
NEXT_PUBLIC_GENERATIVE_AI_KEY="AIzaSyD8xcbZvsEQGVJPdZ-E5IHlG6x9YP2oN5Q"

# Stripe Payment (https://dashboard.stripe.com/test/dashboard)
STRIPE_PK="pk_test_51Oltd3SJ9IhWAEEYTaWK1N73VLlbRk8fLVIl1uY6tZ62H0hQolDZ4sQ7N5tgcM7d8QDU7Cwu90mwjO65lhxysvLD00Xl2hH5ME"
STRIPE_SK="sk_test_51Oltd3SJ9IhWAEEYcf4HrAzDHrMYgvpQdVQDzVuL7vCIffvU09yjQYKOJB34uIVaAz5zGoAbpFEyy5fROYYlvmXJ00eyu3TLVk"
STRIPE_PRICE_ID="price_1OlyEWSJ9IhWAEEYiu3LrByq"
STRIPE_WEBHOOK_SECRET="we_1Olxo5SJ9IhWAEEYv8mOODk7"

# For Uploading images to aws using `uploadthing` by theo.gg (https://uploadthing.com/dashboard)
UPLOADTHING_SECRET="sk_live_a18efd4d8752aaceb92ca2be64e7125286d9e6acc8303c26b91038954ee79e7c"
UPLOADTHING_APP_ID="l0ipqh9i6i"

NEXT_PUBLIC_VERCEL_URL="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"

GITHUB_CLIENT_SECRET="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"
GITHUB_CLIENT_ID="912622535470-5ipo5k3oges224qk4r2o5dpur1jjiv19.apps.googleusercontent.com"

# openssl rand -base64 32
NEXTAUTH_SECRET="qvQmplUvtWPIu7dxsq4+BLdCsrntPAQLym0bErzinwU="

# Next Auth Google Provider (https://console.cloud.google.com/apis/credentials)
GOOGLE_CLIENT_ID="1011606098936-1g93ghn9pbmhctgcesuvfn4no5hnuedb.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"

# Do not expose your Neon credentials to the browser

#PGHOST='ep-broad-heart-a518q4d5.us-east-2.aws.neon.tech'
#PGDATABASE='abd'
#PGUSER='harshwardhan.patil22'
#PGPASSWORD='3inUL2XpDYCP'

#DATABASE_URL="postgresql://harshwardhan.patil22:3inUL2XpDYCP@ep-broad-heart-a518q4d5-pooler.us-east-2.aws.neon.tech/abd?sslmode=require&pgbouncer=true"
#DIRECT_URL="postgresql://harshwardhan.patil22:3inUL2XpDYCP@ep-broad-heart-a518q4d5.us-east-2.aws.neon.tech/abd?sslmode=require"

# EMAIL AND PASSWORDS FOR SENDING EMAILS FROM NODEMAILER
TO="harshpatil07104@gmail.com"
USER="Harshwardhan"
PASS="Kabir@2014"
